<!DOCTYPE html>
<html lang="en">
<%- include('../includes/head', {title: "Edit Story"}) %>
<body>
  <main>
    <h2>Edit Story</h2>
    <form action="/stories/<%= story._id %>" method="POST">
      <input type="text" value="<%= story.userName %>" name="userName" placeholder="Name" required /><br />
      <textarea name="content" placeholder="Content" required><%= story.content %></textarea><br />
      <button>Save</button>
    </form>
  </main>
</body>
</html>