*, *::before,*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0 solid transparent;
}

body {
    margin-left: 160px;
    margin-right: 160px;}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.title {
    /* display: flex;
    justify-content: space-around; */
    font-size: 2.986rem;
    font-family: "Zilla Slab";
    margin-bottom: 16px;
    margin-top: 48px;
}
.menu {
    position: absolute;
    left: 12%;
    width: 3%;
    height: auto;
    opacity: 0.3;
}

.description {
    font-family: "League Spartan";
    font-size: 1.2rem;
    margin-bottom: 32px;
    max-width: 750px;
    min-width: 400px;
}

.story-button {
    /* border: solid; */
    /* border-color: red; */
    display: flex;
    align-items: center;
    /* flex-wrap: wrap; */
    font-size: 1.44rem;
    cursor: pointer;
    font-family: "Zilla Slab";
    padding: 8px;
    margin-bottom: 24px;
    background-color: transparent;
}

.button-icon {
    margin-right: 4px;
}

.navigation {
    font-family: "Zilla Slab";
    font-size: 1.44rem;
    /* border: solid; */
    /* border-color: green; */
    width: max-content;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    /* background-color: yellow; */
    /* justify-content: center; */
    display: flex;
    align-items: center;
    color: black;
}

.grid {
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(3, minmax(275px, 1fr));
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
    /* border: solid;
    border-color: red; */
    justify-content: center;
    max-width: calc(3*337px + 2*16px);
    margin: 0 auto;
}

.grid > div {
    /* border: solid;
    border-color: blue; */
    height: 210px;
    border-radius: 24px;
    font-family: "League Spartan";
    font-size: 18px;
    padding: 20px;
}

.grid div:nth-child(5n+1) {background-color: #DBE6FF;}
.grid div:nth-child(5n+2) {background-color: #E9D3EF ;}
.grid div:nth-child(5n+3) {background-color: #E0FFD7;}
.grid div:nth-child(5n+4) {background-color: #FFD0D1;}
.grid div:nth-child(5n+5) {background-color: #FFF5C4;}


/* Media Queries */

/* Small devices (690px to 920px) */
@media only screen and (max-width: 920px) {

    .title {
        line-height: 0.9;
        /* margin-top: 24px; */
        margin-bottom: 24px;
    }
    .story-button {
        min-width: 250px;
    }
    .navigation {
        display: none;
    }
    .story-button {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.2rem;
        padding: 8px;
        margin-bottom: 8px;
    }
    .button-icon {
        margin-right: 0px;
        margin-bottom: 4px;
    }
    .description {
        font-size: 1rem;
    }
    .menu {
        display: block;
    }
}


@media only screen and (max-width: 921px) {
    .menu {
        display: block;
    }
}

/* @media only screen and (min-width: 922px) {
    .menu {
        display: none;
    }
} */


/* the rest */

@media only screen and (min-width: 921px) and (max-width: 1400px) {
    .navigation {
        display: none;
    }
}

@media only screen and (min-width: 1400px) {
    .menu {
        display: none;
    }
}
